[Unit]
Description=Faucet Worker Automation Service
After=network.target

[Service]
Type=simple
User=azureuser
WorkingDirectory=%h/Repositories/cryptobot
EnvironmentFile=%h/Repositories/cryptobot/.env
ExecStart=%h/Repositories/cryptobot/.venv/bin/python main.py
Restart=always
RestartSec=10
StandardOutput=append:%h/Repositories/cryptobot/logs/production_run.log
StandardError=append:%h/Repositories/cryptobot/logs/production_run.log

[Install]
WantedBy=multi-user.target
